NODE_ENV=development
BOT_TOKEN=telegram_bot_tokeningizni_shu_yerga_yozing
PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/turon_bot
BOT_BASE_URL=https://sizning-domeningiz.uz
ADMIN_LOGIN=admin
ADMIN_PASSWORD=changeme123
ADMIN_NAME=System Admin
ADMIN_AUTH_SECRET=maxfiy_va_uzun_kalit
